<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Chat Application</title>
  </head> 
  <body class="bg-dark">
    <div class="d-flex justify-content-between mt-3 px-5 text-light">
      <div><b>{{ request.user.username|upper }}</b></div>
      <div style="display:none;" id="notification"></div>
      <div><b>Room : {{ room_name }}</b></div>
    </div>
    <div class="d-flex flex-column align-items-center p-5" style="min-height:100%;height:700px;">
        <div id="chat_area" class="d-flex flex-column p-3" style="width:100%;height: 100%;background:#e0ebeb; overflow-y: scroll;">
        <div class="" style="text-align:center;"><b>{{ date|date:"Y F,d" }}</b></div>

        </div><br>
        <input placeholder="Enter Message Here" type="text" style="width:100%;" id="chat_input"><br>
        <button class="btn btn-warning px-5 w-100" id="submit">SEND</button>
    </div>
    {{ room_name|json_script:"room_name" }}
    {{ request.user.username|json_script:"user_name" }}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const roomName = JSON.parse(document.getElementById('room_name').textContent);
        const userName = JSON.parse(document.getElementById('user_name').textContent);
        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data)
            if(userName == data.user_name){
              $("#chat_area").append(`<div class="mt-2 p-2 d-flex flex-row-reverse">\
                <div class="bg-light rounded p-1" style="width:fit-content;;">
                  <div class="text-success p-1"><b>You</b></div>
                  <div class="px-3">${data.message}</div>
                </div>
              </div>`)
              $("#notification").html(`<div class="bg-primary rounded p-1">Message Sent</div>`)
            }else{
              $("#chat_area").append(`<div class="mt-2 p-2 d-flex">\
                <div class="bg-light rounded p-1" style="width:fit-content;;">
                  <div class="text-danger p-1"><b>${data.user_name}</b></div>
                  <div class="px-3">${data.message}</div>
                </div>
              </div>`)
              $("#notification").html(`<div class="bg-success rounded p-1">Message Recieved</div>`)

            }
            document.getElementById('chat_area').value += data.user_name+" : "+ data.message + '\n'
            document.getElementById('chat_input').value = ''

            $("#notification").attr("style","display:block;")
            setTimeout(function(){
              $("#notification").attr("style","display:none;")
            },2000)
        }

        $(document).on("click","#submit",function(){
          var message = document.getElementById('chat_input').value
          if(message.trim()){
            chatSocket.send(JSON.stringify({
              'message':message,
              'user_name':userName
          }))
          }
        })

        {% comment %} document.getElementById('submit').onclick = function(e){
            var message = document.getElementById('chat_input').value
            if(message.trim()){
              chatSocket.send(JSON.stringify({
                'message':message,
                'user_name':userName
            }))
            }
        } {% endcomment %}

    </script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>